.blogBody {
    width: 90vw;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;



}

.blogContainer {
    width: 70vw;
    display:flex;
    flex-direction: row;
     justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1% 3%;
    border-right: 2px solid teal;
}

.blog{
    border: 1px solid teal;
    width:30%;
    margin-top:2%;
    padding:1%;
    border-radius: 10px;

}