.blogBody {
    width: 90vw;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;



}

.blogContainer {
    width: 70vw;
    display:flex;
    flex-direction: row;
     justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1% 1%;
    border-right: 2px solid teal;
}

.blog{
    border: 1px solid teal;
    width:48%;
    margin-top:2%;
    padding:1%;
    border-radius: 10px;

}

.readMoreContent {
    max-width: 40rem;
    margin: 4rem auto;
    background-color: antiquewhite;
    border-radius: 5px; 
    padding: 1%;
}

.long-text{
    max-height:0; 
    overflow: hidden;
    display:inline-block;
    transition: max-height .25s

}

.expanded {
    max-height: 50rem;
    transition: max-height 2s;
}