footer {
    bottom:0;
    width: 100vw;
    padding: 1%;
    color:black;
    position:relative;
    padding-top: 1%;

    hr {
        width: 20%;
        height: 7px;
        background-color: teal;
        border-radius:10px;
        border: 1px solid black;
    }
}