header {
      display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 1%;
    position:relative;
}
header img{
    width: 25vw;
}

