nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55vw;
    align-items: center;
    margin-top: 2%;
    // background-color: teal;
background: rgb(6,120,117);
background: linear-gradient(0deg, rgba(6,120,117,1) 31%, rgba(66,179,213,1) 70%, rgba(0,151,178,1) 100%);
    padding: 1%;
    border-top-left-radius: 10% 90%;
    border-top-right-radius: 10% 90%;
    box-shadow: 10px 10px 15px grey;

    a{
        text-decoration: none;
        color:white;

    }
    a:hover{
        color:rgb(255, 174, 0);;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.bottomNav a{
    color:black;
    width: 50%;
    padding: 1%;
    text-decoration: none;
}

.bottomNav a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color:teal;
}

.secondary{
    max-width: 100vw;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    background-color: rgb(253, 255, 198);
    padding: 2%;


    a {
        text-decoration: none;
    }
    a img{
        width: 30px;
        position:relative;
        top:7px;
        left:5px;
        padding-right: 10px;

    }
}

.linkOne {
    color:hotpink;
}
.linkTwo {
    color:rgb(17, 199, 199);
}
.linkThree {
    color:#E59718;
}
.linkFour {
    color:rgb(164, 18, 18);
}
.linkFive {
    color:rgb(48, 150, 198);
}
.linkSix {
    color:green;
}
.linkSeven {
    color:navy;
}

.secondary .secIcon {
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 10%;
    height:50px;

    .secIcon span {
           text-align: baseline;
    }
}