.regContainer {
    width: 30vw;
    background-color: teal;
    margin: 20px auto;
    border: 2px solid grey;
    padding: 3% 0;
    border-radius: 10px;


    form {
        overflow: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .details {
        height: 3vh;
        margin: 5px auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;

    }

    button {
        height: 30px;
        width: 5vw;
        background-color: #97C839;
        border-radius: 7px;
    }

    .error-message {
        color:white;
        font-size: 12px;
    }
}