.regContainer {
    width: 30vw;
    background-color: teal;
    margin: 20px auto;
    border: 1px solid grey;
    padding: 3% 0;


    .details {
        width: 50%;
        margin: 0 auto;
        text-align: left ;

    }

    .input {
        margin-left: 5px;
    }
    button {
        width: 50%;
        background-color: #97C839;
    }

    .error-message {
        color:white;
        font-size: 12px;
    }
}