.shop {
   
    .logo {
        width: 25%;
    }
}

.shopBody {
     display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.shopTop{
    border: 1px dotted silver;
    width: 50%;
    padding: 2%;
   
}